@charset "UTF-8";
@mixin BBT($border,$background,$color) {
  border-color: $border;
  background-color: $background;
  color: $color;
}
@mixin BBTLighten($color,$num,$num2) {
  border-color: lighten($color, $num);
  background-color: lighten($color, $num2);
  color: $color;
}
@include ns(btn) {
  @include BBT($borderColor, $backgroundColor, $textColor);
  display: inline-block;white-space: nowrap;cursor: pointer;border: 1px solid $borderColor; text-align: center; box-sizing: border-box;outline: none;padding: 0 20px;border-radius: $borderRadius;font-size: 14px;transition: .2s;user-select: none;height: 36px;line-height: 36px;
  @include ns(icon) {margin-right: 5px;display: inline-block;vertical-align: middle}
  &:hover {
    opacity: .8;
  }
  &.disabled {cursor: not-allowed;opacity: $disabledOpacity}
  &.is-round {border-radius: 18px;
    &.large {border-radius: 20px}
    &.small {border-radius: 16px}
    &.mini {border-radius: 14px}
  }
  &.is-circle {border-radius: 50%;height: 36px;padding: 0;width: 36px;
    &.large {width: 40px;height: 40px}
    &.small {width: 32px;height: 32px}
    &.mini {width: 28px;height: 28px}
  }
  /*以上为默认*/
  /*要对每种type定义不同的状态，如type=primary*/
  &.#{$namespace}btn-primary {
    @include BBT($primaryColor, $primaryColor, $textColor5);
    &.is-plain {
      @include BBTLighten($primaryColor, 30, 42);
      &:hover {
        @include BBT($primaryColor, $primaryColor, $textColor5);
      }
    }
  }
  &.#{$namespace}btn-success {
    @include BBT($successColor, $successColor, $textColor5);
    &.is-plain {
      @include BBTLighten($successColor, 30, 58);
      &:hover {
        @include BBT($successColor, $successColor, $textColor5);
      }
    }
  }
  &.#{$namespace}btn-warning {
    @include BBT($warningColor, $warningColor, $textColor5);
    &.is-plain {
      @include BBTLighten($warningColor, 10, 26);
      &:hover {
        @include BBT($warningColor, $warningColor, $textColor5);
      }
    }
  }
  &.#{$namespace}btn-danger {
    @include BBT($dangerColor, $dangerColor, $textColor5);
    &.is-plain {
      @include BBTLighten($dangerColor, 30, 46);
      &:hover {
        @include BBT($dangerColor, $dangerColor, $textColor5);
      }
    }
  }
  &.#{$namespace}btn-text {
    //文字链接按钮
    border: 0;padding: 0;height: auto;line-height: normal;
  }
  // 尺寸大小
  &.large {padding: 0 20px;border-radius: 4px;font-size: 14px;height: 40px;line-height: 40px}
  &.small {padding: 0 15px;border-radius: 3px;font-size: 12px;height: 32px;line-height: 32px}
  &.mini {padding: 0 15px;border-radius: 4px;font-size: 12px;height: 28px;line-height: 28px}
  /*+ .-btn{margin-left: 10px}*/
  + .#{$namespace}btn {margin-left: 10px}
  // loading动画
  .icon-loading {margin: 0 2px 0 0;position: relative;top: -2px;
    &:before {animation: iconLoading 2s linear infinite;display: block}
  }
}
@include ns(btn-group) {}
@keyframes iconLoading {
  0% {transform: rotate(0)}
  100% {transform: rotate(360deg)}
}
