@include ns(image) {display: inline-block;overflow: hidden;
  &.border{border: 1px solid $borderColor}
  .default-placeholder, .default-error {position: relative;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center}
  .default-error {color: #999}
  img {max-width: 100%;width: 100%;height: 100%}
}
@include ns(image-preview) {position: fixed;left: 0;top: 0;right: 0;bottom: 0;background: rgba(0, 0, 0, .2);z-index: 100;display: flex; align-items: center;justify-content: center;transition: all .5s;
  [class*="icon-"] {cursor: pointer;z-index: 50;font-size: 22px}
  .icon-error {position: absolute;right: 10px;top: 10px;color: #606266;opacity: .8}
  .icon-arrow-r {position: absolute;top: 50%;transform: translateY(-50%);color: #606266;opacity: .8;font-size: 28px;
    &.disabled{opacity: .6;cursor: not-allowed}
    &.next {right: 10px}
    &.prev {left: 10px;transform: rotate(180deg)}
  }
  .control-tool {position: absolute;left: 50%; transform: translateX(-50%); bottom: 20px;background: rgba(96, 98, 102, 0.8);color: #fff;padding: 10px;border-radius: 20px;display: flex;align-items: center;
    i {font-size: 22px;display: block;margin: 0 5px}
    .rotate-left{transform: rotate(90deg)}
  }
  .img{max-width: 100%;max-height: 100%;transition: all .3s;width: auto;height: inherit}
}
.image-fade-enter-active{animation: image-fade-enter .3s both}
.image-fade-leave-active{animation: image-fade-leave .3s both}
@keyframes image-fade-enter{
  0%{opacity: 0;transform: translateY(-20px)}
}
@keyframes image-fade-leave{
  100%{opacity: 0;transform: translateY(-20px)}
}
