@charset "UTF-8";
@include ns(select) {background: $backgroundColor;box-sizing: border-box;width: 100%;z-index: 50;padding: 10px 0;
  li {list-style: none;height: 25px;line-height: 25px;padding: 0 10px;margin: 0;cursor: pointer;width: 100%;display: block;box-sizing: border-box;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;user-select: none;
    &:hover {background: $backgroundColor2;}

    &.active {background: $backgroundColor2;color: $primaryColor;
    b{color: $backgroundColor}}

    &.disabled {cursor: not-allowed;opacity: $disabledOpacity}
    b{color: $primaryColor;font-weight: 400}
  }
  .select-empty-options{color: $textColor2;margin: 0;padding: 0 10px}
}

