@charset "UTF-8";
@include ns(table) {
  position: relative;overflow-x: auto; overflow-y: hidden; width: 100%;box-sizing: border-box;
  &.is-scroll { // 有滚动时才添加这样式，添加这样式有可能会出现字体模糊
    table {transform-style: preserve-3d;}
  }
  @include scrollColor();
  table {border-collapse: collapse; border-spacing: 0;margin: 0;padding: 0;width: 100%;border: none;table-layout: fixed;
  }
  td, th {text-align: left;padding: 8px 10px;box-sizing: border-box;border: 1px solid $borderColor;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;background: $backgroundColor;
    // 添加两个滚动固定时的分隔线效果样式
    &.fixed-left,&.fixed-right {transform: translateZ(10px);position: relative;
      &:after{box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, .15);   content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        bottom: -1px;
        touch-action: none;
        }
    }
    &.fixed-right{
      &:after{right: auto;left: 0}
    }
  }
  tr:nth-child(odd) td { background: lighten($primaryColor, 45) }
  tr:hover td { background: lighten($primaryColor, 42); transition: background .5s }
  .no-border {border: none;
    td, th {border: none;border-bottom: 1px solid $borderColor;}
    .transform {
      th {
        &:before {border-top: none}
      }
    }
  }
  .no-ellipsis {table-layout: inherit;
    td, th {}
  }
  .no-stripe {
    tr:nth-child(odd) {
      td { background: none }
    }
  }
  .no-hover {
    tr:hover td {background: none}
    tr:nth-child(odd) td { background: lighten($primaryColor, 45) }
  }
  /*td.left,td.right{background: $background!important;}*/
  // transform上下移动，边框会消失，这里补上，没有纵边框时只处理头部
  thead {
    tr {transform-style: preserve-3d;}
  }
  .transform {
    /*tr {transform-style: preserve-3d;}*/
    th {transform: translateZ(10px);position: relative;
      &:before {content: '';display: block;width: 100%;height: 100%;border-top: 1px solid $borderColor;border-bottom: 1px solid $borderColor;position: absolute;top: 0;left: 0;box-sizing: border-box}
    }
  }
  @include ns(checkbox) {position: relative;z-index: 2}
  /*排序*/
  .caret-wrapper {display: inline-flex;flex-direction: column;align-items: center;height: 34px;width: 24px;vertical-align: middle;cursor: pointer;overflow: initial;position: relative;
    .sort-caret {width: 0;height: 0;border: 5px solid transparent;position: absolute;left: 7px;
      &.asc {border-bottom-color: #c0c4cc;top: 5px;}
      &.desc {border-top-color: #c0c4cc;bottom: 7px;}
      &.active {
        &.asc {border-bottom-color: $primaryColor}
        &.desc {border-top-color: $primaryColor}
      }
    }
  }
  /*勾选行的颜色*/
  .warning {
    td {background: lighten($primaryColor, 40) !important;}
  }
  // 扩展
  .extend {
    td {white-space: normal}
  }
  // 拖动相关
  .drag {
    th {position: relative;
      &:hover {
        .drag-line {display: block}
      }
    }
    .drag-line {display: none;
      width: 0;
      height: 100%;
      cursor: ew-resize;
      border-right: 3px solid #dfe6ee;
      padding: 0 1px;
      position: absolute;
      right: 1px;
      z-index: 2;
      top: 0;}
  }
  .table-drag-line {position: absolute;top: 0;height: 100%;border-left: 1px solid $primaryColor;cursor: ew-resize}
  // 分页
  @include ns(page) {
    padding-top: 20px;
  }
  @include ns(tooltip-box) {display: block;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
}
.table-page-space{height: 20px}
