@charset "utf-8";
@include ns(tooltip-box) {display: inline-block}
@include ns(tooltip) {
  // $background: lighten($primaryColor,0);
  $background: $borderColor;
  position: absolute; z-index: 100; background: $backgroundColor; color: $textColor; padding: 8px 12px; line-height: 20px; border-radius: 5px;box-sizing: border-box;border: 1px solid $borderColor;box-shadow: 0 0 12px rgba(0, 0, 0, .12);
  .arrow {position: absolute;display: block;width: 0;height: 0;border-color: transparent;border-style: solid;border-width: 5px;filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03)); border-top-width: 0;border-bottom-color: $borderColor;
    &:before {content: '';position: absolute;display: block;width: 0;height: 0;border-color: transparent;border-style: solid;border-width: 5px;border-top-width: 0;border-bottom-color: $backgroundColor;top: 1px;left: -5px}
  }
  /*&:before { content: ''; display: inline-block; border: 5px solid transparent; position: absolute; }*/
  /*处理下箭头方向*/
  &.top-left {
    .arrow { left: 15px; bottom: -6px;transform: rotate(180deg)}
  }
  &.top {
    .arrow { left: 50%; bottom: -6px; margin-left: -5px;transform: rotate(180deg) }
  }
  &.top-right {
    .arrow { right: 15px; bottom: -6px; transform: rotate(180deg)}
  }
  &.left {
    .arrow { right: -8px; top: 50%;margin-top: -3px;transform: rotate(90deg) }
  }
  &.right {
    .arrow { left: -8px; top: 50%; transform: rotate(-90deg); margin-top: -3px; }
  }
  &.bottom-left {
    .arrow { left: 15px; top: -6px; }
  }
  &.bottom {
    .arrow { left: 50%; top: -6px; margin-left: -3px; }
  }
  &.bottom-right {
    .arrow { right: 15px; top: -6px;}
  }
}
