$colorBlue: #1989fa;
$colorRed: #ee0a24;
$colorOrange: #ff976a;
$colorGreen: #07c160;
$colorWhite: #fff;
$colorBlack: #000;
$colorGray: #f2f3f5;
$colorGray2: #dcdee0;
$colorGray3: #969799;
$colorGray4: #323233;
//
$primaryColor: $colorBlue;
$successColor: $colorGreen;
$dangerColor: $colorRed;
$warningColor: $colorOrange;
//
$textColor: $colorGray4;
$textColor2: $colorGray3;
$textColor3: $colorGray2;
$textColor4: $colorGray;
$textColor5: $colorWhite;
$textLinkColor: $colorBlue;
//
$borderColor: $colorGray2;
$borderLineColor: $colorGray;
$borderRadius: 2px;
$backgroundColor: $colorWhite;
$backgroundColor2: $colorGray;
//
$disabledOpacity: 0.5;
//
$placeholder:$colorGray3
