@charset "utf-8";
$namespace: 'ak-';
@mixin ns($cls) {
  $NS: $namespace+$cls;
  //$NS: 'ak-'+$cls;
  .#{$NS} {
    @content;
  }
}
@mixin scrollColor(){
  &::-webkit-scrollbar {width: 8px;height: 8px;position: relative;z-index: 100;background: $colorGray}
  &::-webkit-scrollbar-thumb {background-color: $colorGray2;background-clip: padding-box;min-height: 28px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
  &::-webkit-scrollbar-corner {background: $colorGray2}
  /*&::-webkit-scrollbar:$colorGray2; //滚动条整体部分
  ::-webkit-scrollbar-button:''; //滚动条两端的按钮
  ::-webkit-scrollbar-track:'';  //外层轨道
  ::-webkit-scrollbar-track-piece:'';  //内层滚动槽
  ::-webkit-scrollbar-thumb:$colorGray3; //滚动的滑块
  ::-webkit-scrollbar-corner:''; //边角
  ::-webkit-resizer //定义右下角拖动块的样式*/
}

/*$border: #dcdfe6; // 边框色
$primary: #07c160;// 主色*/
// transparentize($primary, 0.2);
/*
lighten         (颜色, 百分比)   // 调亮
darken          (颜色, 百分比)   // 调暗
saturate        (颜色, 百分比)   // 调高饱和度
desaturate      (颜色, 百分比)   // 降低饱和度
transparentize  (颜色, 0.0-1.0) // 透明度，注意这里接收的不是百分比，是 0.0-1.0 的小数值*/
